@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #F6F8FC;
}

.content {
    padding: 1rem;
    height: 100vw;
    width: 100vw;
    background-color: #FCFCFC;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    border: none;
    border-radius: 2rem;
    background-color: rgba(53, 53, 53, 0.35);
    padding: .4rem 1rem;
    text-align: center;
    color: rgb(55, 55, 55);
    font-size: .85rem;
    cursor: pointer;
}

.pagination button:hover {
    background-color: rgba(0, 0, 0, 0.45);
    color: rgb(219, 219, 219);
    font-weight: 600;
    transition-duration: 300ms;
}